body {
    padding: 100px;
    background-image: url(../rock-paper-scissors/images/rps-bkgd.png);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Press Start 2P", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: "Smooch Sans", sans-serif;
    color: white;
}

button {
    padding: 24px;
    height: 150px;
    width: 150px;
    border: 4px;
    border-color: red;
    border-radius: 16px;
    font-family: "Smooch Sans", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #8b0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    margin-left: 100px;
    margin-right: 100px;
}

.round {
    margin-left: 100px;
    margin-right: 100px;
}

.computer {
    margin-left: 100px;
    margin-right: 100px;
}

.playerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endgame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#computerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roundMarker {
    font-family:"Smooch Sans", sans-serif;
    font-size: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    font-family: "Smooch Sans", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#victory {
    font-family: "Smooch Sans", sans-serif;
    font-size: 41.6px;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lizard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#rock-img {
    max-height: 100px;
    width: auto;
}

#paper-img {
    max-height: 100px;
    width: auto;
}

#scissors-img {
    max-height: 100px;
    width: auto;
}

#lizard-img {
    max-width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spock-img {
    max-width: 100px;
    height: auto;
}

#restart-img {
    max-width: 100px;
    height: auto;
}