body {
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: "Smooch Sans", sans-serif;
}

button {
    font-family: "Smooch Sans", sans-serif;
    font-size: 16px;
}

.gameStatus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    margin-left: 100px;
    margin-right: 100px;
}

.round {
    margin-left: 100px;
    margin-right: 100px;
}

.computer {
    margin-left: 100px;
    margin-right: 100px;
}

.playerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endgame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
}

#computerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
}

#roundMarker {
    font-family:"Smooch Sans", sans-serif;
    font-size: 52px;
}

#results {
    font-family: "Smooch Sans", sans-serif;
}

#victory {
    font-family: "Smooch Sans", sans-serif;
    font-size: 41.6px;
}

#restart {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}