h1 {
    font-family: "Press Start 2P", sans-serif;
}

h2 {
    font-family: "Press Start 2P", sans-serif;
}

h3 {
    font-family: "Smooch Sans", sans-serif;
}

button {
    font-family: "Smooch Sans", sans-serif;
    font-size: 16px;
}

#playerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
}

#computerScore {
    font-family: "Smooch Sans", sans-serif;
    font-size: 52px;
}

#roundMarker {
    font-family:"Smooch Sans", sans-serif;
    font-size: 52px;
}

#results {
    font-family: "Smooch Sans", sans-serif;
}

#victory {
    font-family: "Smooch Sans", sans-serif;
    font-size: 41.6px;
}